body {
  background-image: url("../images/ocean.jpg");
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
}

h1 {
  font-family: fantasy;
  text-align: center;
  text-decoration: underline;
  color: blue;
  background-color: #ccccFF;
}

h3 {
  text-align: center;
}

div {
  align-items: center;
}

img {
  width: 256px;
  height: 128px;
  border: 2px solid #000;
  float:
}
